<div class="row-fluid">
  <div class="span3">
    <h3>Take Action</h3>
    <ul class="footer-widget-menu">
      <li><a href="{{ site.signup_page.url }}">{{ site.signup_page.name }}</a></li>
      <li><a href="{{ site.volunteer_page.url }}">{{ site.volunteer_page.name }}</a></li>
      <li><a href="{{ site.donation_page.url }}">{{ site.donation_page.name }}</a></li>
      <li><a href="{{ site.membership_page.url }}">{{ site.membership_page.name }}</a></li>
    </ul>
  </div>
  <div class="span3">
    <h3>About Us</h3>
    <ul class="footer-widget-menu">
      <li><a href="/about">About Us</a></li>
      <li><a href="/conservative_party_of_canada">Conservative Party</a></li>
      <li><a href="/riding">Riding</a></li>
      <li><a href="/links">Links</a></li>
</ul>
  </div>
  <div class="span3">
    <h3>Write To Us</h3>
    {% include "contactwidget" %}
  </div>
  <div class="span3">
    <h3>Stay Connected</h3>
    {% include "socialbuttonwidget" %}
  </div>
</div>
