<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page_title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="theme.scss" type="text/css">
  <link rel="stylesheet" href="tablet-and-desktop.scss" type="text/css" media="screen and (min-width: 768px)">
  <script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Open+Sans:400,800:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>

  <!-- because ie8 ignores media queries, we need this -->
  <!--[if IE 8]>
    <link rel="stylesheet" href="tablet-and-desktop.scss" type="text/css">
  <![endif]-->


  <!--[if IE]>
  <link rel="stylesheet" href="ie.scss" type="text/css">
  <![endif]-->

  {{ content_for_header }}
{% if page.features_count > 0 %}<meta name="twitter:card" content="summary_large_image">{% else %}
<meta name="twitter:card" content="summary_large_image">{% endif %}
{% if site.has_twitter? %}<meta name="twitter:site" content="@{{ site.broadcaster.twitter_login }}">{% endif %}
<meta name="twitter:title" content="{{ page.headline }}">
{% if site.has_twitter? %}{% if page_type == 'Blog Post' %}{% if page.has_author? and page.author.has_twitter_info? %}<meta name="twitter:creator" content="@{{ page.author.twitter_login }}">{% endif %}{% endif %}{% endif %}
{% if page.features_count > 0 %}{% for feature in page.features limit:1 %}<meta name="twitter:image:src" content="{{ feature.image_url }}">{% endfor %}{% elsif page.has_meta_image? %}<meta name="twitter:image:src" content="{{ page.meta_image_large_url }}">{% else %}{% endif %}
<meta name="twitter:domain" content="{{ site.url }}">
<meta name="twitter:description" content="{{ page.excerpt }}">
  <script type="text/javascript">
    NB.appConfig.userIsLoggedIn = {{request.logged_in?}};
  </script>
<!-- Add fancyBox -->
<link rel="stylesheet" href="{{ theme['jquery.fancybox.css'] }}" type="text/css" media="screen">
<script type="text/javascript" src="{{ theme['jquery.fancybox.pack.js'] }}"></script>
<script type="text/javascript" src="jquery.ui.effect.min.js"></script>
<script type="text/javascript" src="jquery.ui.effect-slide.min.js"></script>
<script type="text/javascript" src="staged-donations.js"></script>
</head>
<body class="aware-theme v2-theme page-{{ page.id }} page-{{ page.slug }} {{ page.page_class_name }} js">
  <div id="pattern" class="pattern">
    <div class="wrap" id="wrap">
      <div id="body" class="page-{{ request.template | replace: '_', '-' }}">

        
        
        <div class="header-container clearfix" >
          <div class="topnav_bar">
          <div class="width-container clearfix">
          {% include "nav" %}       
            {% if site.has_meta_image? %}
              <div class="site-logo">
                <header><a href="/"><img src="{{ site.meta_image_url }}"></a></header>
              </div>
            {% else %}
              <header>
                <h1 class="title"><a href="/">{{ site.long_name }}</a></h1>
              </header>
            {% endif %}
          </div>
        </div>
          <!-- .width-container -->
        </div>
        <!-- .header-container -->

        {% if page.features_count > 0 %}
          <div class="width-container">
           {% include "features" %}
          </div>
        {% endif %}

        <div class="main-container" id="middle">
          <div class="main width-container clearfix">

            {% if request.is_sidebar? %}
            {% include "columns_2" %}
            {% else %}
            {% include "columns_1" %}
            {% endif %}

          </div>
          <!-- .main -->
        </div>
        <!-- .main-container -->
<footer class="clearfix">

{{ content_for_footer }}

{% if site.footer_content.size > 0 %}
	<div class="custom-footer-wrap" style="background:#003d77 url({{ site.background_image_url }}) right top no-repeat fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
    	<div class="width-container">
         <div class="footer-text">{{ site.footer_content }}</div>
        </div>
        </div>
        {% endif %}
    <div class="footerwidget-wrap">
        <div class="width-container">
          
          {% include "footerwidget" %}
           
          <hr /> 
          <div class="row-fluid">

              <div class="span7 footer-left">
                {% if request.logged_in? %}
                  Hi <a href="{{ request.current_signup.settings_url }}">{{ request.current_signup.name_or_email }}</a>. View your
                  {% if site.show_public_profiles? %}
                    <a href="{{ request.current_signup.profile_url }}">public profile</a>,
                  {% endif %}
                  <a href="{{ request.current_signup.settings_url }}">account settings</a>, or
                  <a href="{{ request.current_signup.logout_url }}">sign out</a>.
                {% else %}
                  Sign in with <a href="{{ request.facebook_connect_url }}">Facebook</a>, <a
                      href="{{ request.twitter_connect_url }}">Twitter</a> or <a href="/login">email</a>.
                {% endif %}
                <br /><br />
              </div>
              <div class="span5 footer-right">
                <a href="/contact/">Contact</a> &middot; <a href="/privacy_policy/">Privacy Policy</a> &middot; <a href="/rules/">Rules</a> 
              </div>

            </div>
            <div class="row-fluid">
              <div class="span12 text-center ec-credit">
              
              </div>
            </div>
  </div><!-- /.width-container -->
  </div><!-- /.footerwidget-wrap -->
  <div class="footer-secondary">
          <div class="width-container ">
            <div class="row-fluid ">
              <div class="span9 footer-left">
                © 2014 Authorized by the Financial Agent for the {{ site.long_name }}.
              </div>
              <div class="span1 text-center ">
                                <!-- The NationBuilder link below is required. If it is removed, we may add it back ourselves.
                     You can style it or move it in different ways, but please leave it in the footer. -->
                <a href="http://nationbuilder.com/?recruiter_id=397187" title="Created with NationBuilder"><img src="nb_logo_white.png" height="40px" width="40px" alt="NationBuilder" title="Created with NationBuilder" /></a> 
              </div>
              <div class="span1 text-center ">
                <a href="http://edahelp.nationbuilder.com" title="We get by with a little EDA Help from our friends."><img src="edahelp_logo_white.png" height="40px" width="40px" alt="EDA Help" title="We get by with a little EDA Help from our friends." /></a> 
              </div> 
              <div class="span1 text-center ">
                <a href="http://www.conservative.ca/?utm_source=EDA{{ site.slug }}&utm_medium=footerlink&utm_campaign=edahelps" title="Learn more about the Conservative Party of Canada"><img src="cpc_logo_white.png" height="40px" width="40px" alt="Conservative Party of Canada" title="Conservative Party of Canada" /></a>
              </div> 
            </div>         
        </div><!-- .width-container -->
       </div>
      </footer>
      </div>
      <!-- #body -->
    </div>
    <!-- #wrap -->
  </div>
  <!-- #pattern -->
  
</body>
</html>

